<section ng-controller="AmbientesListController as vm">
  <div class="page-header">
    <h1 class="text-center">Ambientes</h1>
  </div>
<!--Inicio painel-->
  <div class="col-md-4" data-ng-repeat="ambiente in vm.ambientes | orderBy: 'nome'">
    <div class="row">
      <div class="ih-item square colored effect6 from_top_and_bottom">
        <a href="#">
          <div class="img">
            <img src="modules/ambientes/client/img/rede128.png" alt="img">
            <p class="btn btn-default-redondo-md pull-right" style="margin-right:30px;">
              {{ambiente.dispositivos.length}}
            </p>
          </div>
          <div class="info">
            <h3>
              <button class="btn btn-primary-redondo-md" type="button" name="button" ui-sref="ambientes.edit({ ambienteId: ambiente._id })">
                <i class="fa fa-pencil-square-o hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"
              ></i>
              </button>
              <button class="btn btn-primary-redondo-md" type="button" name="button">
                <i class="fa fa-unlock-alt hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"
                data-toggle="modal" ng-click=""></i>
              </button>
            </h3>
            <p>
              Total de dispositivos: {{ambiente.dispositivos.length}}
            </p>
          </div>
        </a>
        <div class="">
          <h3>{{ambiente.nome | uppercase}}</h3>
        </div>
      </div>
      <br>
    </div>
<!--Fim painel-->
  <div class="alert alert-warning text-center" data-ng-if="vm.ambientes.$resolved && !vm.ambientes.length">
    Nenhum ambiente cadastrado. <a class="alert-link" data-ui-sref="ambientes.create" ng-show="vm.authentication.user.isAdmin">Incluir ambiente</a>
  </div>
</section>
