<section>
  <div class="page-header">
    <h1>Logs firewall</h1>
  </div>
  <div class="form-group">
    <div class="col-sm-2">
      <h5 class="text-right">Período de:</h5>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control">
    </div>
    <div class="col-sm-2">
      <h5 class="text-right">até:</h5>
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control">
    </div>
  </div>
  <div class="list-group">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-md-1">Data</th>
          <th class="col-md-1">Hora</th>
          <th class="col-md-2">Log Prefix</th>
          <th class="col-md-2">Placa</th>
          <th class="col-md-2">Origem</th>
          <th class="col-md-2">Destino</th>
          <th>Outras Informações</th>
        </tr>
      </thead>
      <tbody>  
        <tr>
          <td>15/02/2016</td>
          <td>10:15</td>
          <td>---</td>
          <td>eth0</td>
          <td>Terra</td>
          <td>Infinito e além</td>
          <td>Sem mais para o momento</td>
        </tr>
        <tr>
          <td>14/03/2016</td>
          <td>09:15</td>
          <td>---</td>
          <td>eth1</td>
          <td>Jupter</td>
          <td>Terra</td>
          <td>Invadir e conquistar</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
