<session>
	<div class="page-header">
		<h1>Monitor</h1>
		<p>
		**** verificar porque parou de funcionar na versao 0.5.beta  
		</p>
	</div>

	<div class="row">
		<!--CPUS-->
		<monitor-cpus class="col-md-12"></monitor-cpus>

		<!--MEMÓRIA-->
		<monitor-memoria class="col-md-12"></monitor-memoria>

		<!--HD-->
		<monitor-discos class="col-md-12"></monitor-discos>

		<!-- Rede -->
		<monitor-rede class="col-md-12"></monitor-rede>
	</div>

	<!--REDE-->
	<!-- <div class="col-md-6" ng-include="'modules/monitor/client/views/system-monitor-rede.client.view.html'"></div> -->

</session>
