<section class="container">
  <div class="page-header">
    <h1 class="text-center" ng-show="vm.ambiente._id"> Ambiente {{vm.ambiente.nome | uppercase}}</h1>
    <h1 class="text-center" ng-hide="vm.ambiente._id" >Novo ambiente</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <form name="vm.form.ambienteForm" class="form-horizontal" ng-submit="vm.save(vm.form.ambienteForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" ng-class="{ 'has-error' : vm.form.ambienteForm.nome.$error.required && !vm.form.ambienteForm.nome.$pristine}">
            <label class="control-label" for="nome">Nome</label>
            <input name="nome" type="text" ng-model="vm.ambiente.nome" id="nome" class="form-control" placeholder="Nome" ng-disabled="!vm.authentication.user.isAdmin" required>
            <div ng-show="vm.form.ambienteForm.nome.$error.required && !vm.form.ambienteForm.nome.$pristine" role="alert">
              <span class="text-danger">Nome do ambiente é obrigatório.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="descricao">Descrição</label>
            <textarea name="descricao" type="text" ng-model="vm.ambiente.descricao" id="descricao" class="form-control" placeholder="Descricao" ng-disabled="!vm.authentication.user.isAdmin"></textarea>
          </div>
          <div class="form-group" >
            <button data-ng-show="vm.authentication.user.isAdmin" type="submit" class="btn btn-primary" ng-disabled="vm.form.ambienteForm.nome.$invalid"><i class="fa fa-check"></i> {{vm.ambiente._id ? 'Atualizar' : 'Salvar'}}</button>
            <button type="button" ng-show="vm.ambiente._id && vm.authentication.user.isAdmin" class="btn btn-primary text-center" ng-click="vm.modalCreateDispositivo('md', vm.ambiente)"><i class="fa fa-plus"></i> Novo dispositivo
            </button>
            <button type="button" class="btn btn-primary text-center" data-ui-sref="ambientes.list"><i class="fa fa-times"></i> Cancelar/Voltar
            </button>
            <a class="btn btn-danger" ng-show="vm.ambiente._id && vm.authentication.user.isAdmin" data-toggle="modal" data-target=".modal-excluir"><i class="fa fa-trash"></i> Excluir</a>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="panel col-md-4 hidden-xs hidden-sm">
      <div class="text-center">
        <img alt="ambiente icone" class="text-center" src="modules/ambientes/client/img/rede128.png"/>
        <!-- <h4>CETESC.LOCAL</h4> -->
      </div>
    </div>
  </div>
  <hr>
  <dispositivos-list></dispositivos-list>
</section>

<!-- Small modal -->
<div class="modal fade modal-excluir" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4>{{vm.ambiente.nome}}</h4>
      </div>
      <div class="modal-body">
        <h5>Tem certeza de que deseja excluir o ambiente <strong>{{vm.ambiente.nome}}</strong>?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar/Voltar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="vm.remove()"><i class="fa fa-trash"></i> Excluir</button>
      </div>
    </div>
  </div>
</div>
