<div class="list-group">
  <h5 ng-show="vm.ambiente.dispositivos.length">Dispositivos do ambiente : <span class="label label-default">{{vm.ambiente.nome}}</span></h5>
  <div class="alert alert-warning text-center" data-ng-if="vm.ambiente.$resolved &&!vm.ambiente.dispositivos.length">
    Nenhum dispositivo cadastrado neste ambiente. <a ng-show="vm.authentication.user.isAdmin" class="alert-link" ng-click="vm.modalCreateDispositivo('md', vm.ambiente)"> Incluir dispositivo.</a>
  </div>
<!--Início painel admin-->
  <div class="col-md-3" ng-show="vm.authentication.user.isAdmin" data-ng-repeat="dispositivo in vm.ambiente.dispositivos | orderBy: 'nome'">
    <div class="row">
      <div class="ih-item square colored effect5 left_to_right">
        <a href="#">
          <div class="img">
            <img src="modules/dispositivos/client/img/dispositivo128.png" alt="img">
          </div>
          <div class="info">
            <h3>{{dispositivo.nome | uppercase}}</h3>
            <h4>Ip: {{dispositivo.ip}}</h4>
            <h4>Mac address: {{dispositivo.mac}}</h4>
            <button class="btn btn-primary-redondo " type="button" name="button" title="Bloquear">
              <i class="fa fa-unlock-alt hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"
              data-toggle="modal" ng-click=""></i>
            </button>
            <button class="pull-left btn btn-primary-redondo" type="button" name="button" title="Editar" style="margin-top: 30px; margin-left: 30%;">
              <i class="fa fa-pencil-square-o hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"
              data-toggle="modal" ng-click="vm.modalEditDispositivo('md', dispositivo)"></i>
            </button>
            <button class="pull-right btn btn-primary-redondo" type="button" name="button" title="Excluir" style="margin-top: 30px; margin-right: 30%;">
              <i class="fa fa-trash" data-toggle="modal" data-target=".modal{{dispositivo._id}}"></i>
            </button>
          </div>
        </a>
        <div class="text-center text-primary">
          <h3>{{dispositivo.nome | uppercase}}</h3>
        </div>
      </div>
      <br>
    </div>

    <!-- Small modal -->
    <div class="modal fade modal{{dispositivo._id}}" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4>{{dispositivo.nome}}</h4>
          </div>
          <div class="modal-body">
            <h5>Tem certeza de que deseja excluir o dispostivo <strong>{{dispositivo.nome}}</strong>?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar/Voltar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.removeDispositivo(dispositivo)"><i class="fa fa-trash"></i> Excluir</button>
          </div>
        </div>
      </div>
    </div>
    <!--Fim Small modal-->
  </div>
  <!-- Fim panel admin -->
  <!--Início painel user-->
  <div class="col-md-4" ng-show="!vm.authentication.user.isAdmin" data-ng-repeat="dispositivo in vm.ambiente.dispositivos | orderBy: 'nome'">
    <div class="row">
      <div class="ih-item square colored effect5 left_to_right">
        <a href="#">
          <div class="img">
            <img src="modules/dispositivos/client/img/dispositivo128.png" alt="img">
          </div>
          <div class="info">
            <h3>{{dispositivo.nome | uppercase}}</h3>
            <h4>Ip: {{dispositivo.ip}}</h4>
            <h4>Mac address: {{dispositivo.mac}}</h4>
            <button class="btn btn-primary-redondo " type="button" name="button">
              <i class="fa fa-unlock-alt hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"
              data-toggle="modal" ng-click=""></i>
            </button>
          </div>
        </a>
        <div class="">
          <h3>{{dispositivo.nome | uppercase}}</h3>
        </div>
      </div>
      <br>
    </div>
  <div>
    <!--Fim painel user-->
</div>
