<section class="container">
  <div class="page-header">
    <h1 class="text-center">Dispositivos</h1>
  </div>
  <div>
    <a data-ui-sref="dispositivos.create" class="btn btn-primary" data-ng-if="vm.dispositivos.$resolved && vm.dispositivos.length" ng-show="vm.authentication.user.isAdmin">
      <i class="fa fa-plus"></i> Incluir dispositivo
    </a>
  </div>
  <br>
  <!--Início painel-->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" data-ng-repeat="dispositivo in vm.dispositivos | orderBy: 'nome'">
      <div class="panel panel-primary">
        <div class="panel-body" >
          <div class="row">
            <div class="col-xs-5">
              <img alt="ambiente icone" class="img-responsive" src="modules/dispositivos/client/img/dispositivo.png"/>
            </div>
            <div class="col-xs-7 text-left">
              <h5> {{dispositivo.ip}}</h5>
              <h5> {{dispositivo.mac}}</h5>
            </div>
          </div>
        </div>
        <div class="panel-footer bg-primary">
          <a class="icon-link pull-left text-capitalize" ui-sref="dispositivos.edit({ dispositivoId: dispositivo._id })">{{dispositivo.nome}}</a>
          <span ng-show="vm.authentication.user.isAdmin" class="pull-right" data-toggle="tooltip" title="Excluir"><i class="fa fa-trash text-danger" data-toggle="modal" data-target=".modal{{dispositivo._id}}"></i></span>
          <a ng-show="vm.authentication.user.isAdmin" class="icon-link pull-right" ui-sref="dispositivos.edit({ dispositivoId: dispositivo._id })" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></a>
          <div class="clearfix"></div>
        </div>
        <!-- Small modal -->
        <div class="modal fade modal{{dispositivo._id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h4>{{dispositivo.nome}}</h4>
              </div>
              <div class="modal-body">
                <h5>Tem certeza de que deseja excluir o dispostivo <strong>{{dispositivo.nome}}</strong>?</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar/Voltar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.remove(dispositivo)"><i class="fa fa-trash"></i> Excluir</button>
              </div>
            </div>
          </div>
        </div>
        <!--Fim Small modal -->
      </div>
    </div>
  </div>
  <!--Fim painel-->
  <div class="alert alert-warning text-center" data-ng-if="vm.dispositivos.$resolved && !vm.dispositivos.length">
    Nenhum dispositivo cadastrado. <a ng-show="vm.authentication.user.isAdmin" class="alert-link" data-ui-sref="dispositivos.create"> Incluir dispositivo</a>
  </div>
</section>
