<section class="container">
  <div class="page-header">
    <h1 class="text-center">Dispositivos</h1>
  </div>
  <div>
    <a data-ui-sref="dispositivos.create" class="btn btn-primary" data-ng-if="vm.dispositivos.$resolved && vm.dispositivos.length" ng-show="vm.authentication.user.isAdmin">
      <i class="fa fa-plus"></i> Incluir dispositivo
    </a>
  </div>
  <br>
  <!--Início painel-->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" data-ng-repeat="dispositivo in vm.dispositivos | orderBy: 'nome'">
        <div class="row">
          <div class="ih-item square colored effect5 left_to_right">
            <a href="#">
              <div class="img">
                <img src="modules/dispositivos/client/img/dispositivo128.png" alt="img">
              </div>
              <div class="info">
                <h3>{{dispositivo.nome | uppercase}}</h3>
                <h4>Ip: {{dispositivo.ip}}</h4>
                <h4>Mac address: {{dispositivo.mac}}</h4>
                <button class="btn btn-primary-redondo " type="button" name="button"title="Bloquear">
                  <i class="fa fa-unlock-alt hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"
                  data-toggle="modal" ng-click=""></i>
                </button>
                <button class="pull-left btn btn-primary-redondo" type="button" name="button" title="Editar" ui-sref="dispositivos.edit({ dispositivoId: dispositivo._id })" style="margin-top: 30px; margin-left: 30%;" ng-show="vm.authentication.user.isAdmin">
                  <i class="fa fa-pencil-square-o hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"
                  data-toggle="modal" ng-click="vm.modalEditDispositivo('md', dispositivo)"></i>
                </button>
                <button class="pull-right btn btn-primary-redondo" type="button" name="button" title="Excluir" style="margin-top: 30px; margin-right: 30%;" ng-show="vm.authentication.user.isAdmin">
                  <i class="fa fa-trash" data-toggle="modal" data-target=".modal{{dispositivo._id}}"></i>
                </button>
              </div>
            </a>
            <div class="text-center text-primary">
              <h3>{{dispositivo.nome | uppercase}}</h3>
            </div>
          </div>
          <br>
        </div>
        <!-- Small modal -->
        <div class="modal fade modal{{dispositivo._id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h4>{{dispositivo.nome}}</h4>
              </div>
              <div class="modal-body">
                <h5>Tem certeza de que deseja excluir o dispostivo <strong>{{dispositivo.nome}}</strong>?</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar/Voltar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.remove(dispositivo)"><i class="fa fa-trash"></i> Excluir</button>
              </div>
            </div>
          </div>
        </div>
        <!--Fim Small modal -->
      </div>
    </div>
  </div>
  <!--Fim painel-->
  <div class="alert alert-warning text-center" data-ng-if="vm.dispositivos.$resolved && !vm.dispositivos.length">
    Nenhum dispositivo cadastrado. <a ng-show="vm.authentication.user.isAdmin" class="alert-link" data-ui-sref="dispositivos.create"> Incluir dispositivo</a>
  </div>
</section>
