<section class="container">
  <div class="page-header">
    <h1 class="text-center" ng-show="vm.download._id"> Download restrito {{vm.download.extensao | uppercase}}</h1>
    <h1 class="text-center" ng-hide="vm.download._id" >Novo download restrito</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form name="vm.form.downloadForm" class="form-horizontal" ng-submit="vm.save(vm.form.downloadForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" ng-class="{ 'has-error' : vm.form.downloadForm.extensao.$error.required && !vm.form.downloadForm.extensao.$pristine}">
            <label class="control-label" for="extensao" >Extensão</label>
            <input ng-disabled="!vm.authentication.user.isAdmin" name="extensao" type="text" ng-model="vm.download.extensao" id="extensao" class="form-control" placeholder="Extensão" required>
            <div ng-show="vm.form.downloadForm.extensao.$error.required && !vm.form.downloadForm.extensao.$pristine" role="alert">
              <span class="text-danger">Extensão do download proibido é obrigatório.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="descricao">Descrição</label>
            <textarea ng-disabled="!vm.authentication.user.isAdmin" name="descricao" type="text" ng-model="vm.download.descricao" id="descricao" class="form-control" placeholder="Descrição"></textarea>
          </div>

          <div class="form-group">
            <button ng-show="vm.authentication.user.isAdmin" type="submit" class="btn btn-primary" ng-disabled="vm.form.downloadForm.$invalid"><i class="fa fa-check"></i> {{vm.download._id ? 'Atualizar' : 'Salvar'}}</button>
            <button type="button" class="btn btn-primary" data-ui-sref="downloads.list"><i class="fa fa-times"></i> Cancelar/Voltar</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
