<section class="container">
  <div class="page-header">
    <h1 class="text-center">Restrições de downloads</h1>
  </div>
  <div>
    <a data-ui-sref="downloads.create" class="btn btn-primary" data-ng-if="vm.downloads.$resolved && vm.downloads.length" ng-show="vm.authentication.user.isAdmin">
      <i class="fa fa-plus"></i> Incluir download restrito
    </a>
  </div>
  <br>
  <!--Início painel-->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" data-ng-repeat="download in vm.downloads | orderBy: 'nome'">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-5">
              <img alt="ambiente icone" class="img-responsive" src="modules/downloads/client/img/download.png"/>
            </div>
            <div class="col-xs-7 text-left">
              <h5>{{download.descricao}}</h5>
            </div>
          </div>
        </div>
        <div class="panel-footer bg-primary">
          <!-- EXIBE PARA ADMIN -->
          <a ng-show="vm.authentication.user.isAdmin" class="icon-link pull-left" ui-sref="downloads.edit({ downloadId: download._id })">{{download.extensao}}</a>
          <!-- EXIBE PARA USER -->
          <p ng-hide="vm.authentication.user.isAdmin" class="pull-left">{{download.extensao}}</p>
          <span ng-show="vm.authentication.user.isAdmin" class="pull-right icon-link-hand" data-toggle="tooltip" title="Excluir"><i class="fa fa-trash text-danger" data-toggle="modal" data-target=".modal{{download._id}}"></i></span>
          <a ng-show="vm.authentication.user.isAdmin" class="icon-link pull-right" ui-sref="downloads.edit({ downloadId: download._id })" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></a>
          <div class="clearfix"></div>
        </div>
        <!-- Small modal -->
        <div class="modal fade modal{{download._id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <h4>{{download.extensao}}</h4>
              </div>
              <div class="modal-body">
                <h5>Tem certeza de que deseja excluir o download restrito <strong>{{download.extensao}}</strong>?</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar/Voltar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.remove(download)"><i class="fa fa-trash"></i> Excluir</button>
              </div>
            </div>
          </div>
        </div>
        <!--Fim Small modal -->
      </div>
    </div>
  </div>
  <!--Fim painel-->
  <div class="alert alert-warning text-center" data-ng-if="vm.downloads.$resolved && !vm.downloads.length">
    Nenhum download retrito cadastrado. <a class="alert-link" data-ui-sref="downloads.create" ng-show="vm.authentication.user.isAdmin"> Incluir download restrito</a>
  </div>
</section>
